extends navbar

block title
  title Eduasis

block content
  .resrsPage-Content
    .resources-box
      form.search-box
        .search
          input.search-text(type='text', name='search_term', placeholder=' Search...')
        select#type_id.search-type(name='type_id')
          option(value=0) All
          each t in types
            option(value=t.type_id)= `${t.name}`
        button.fa.fa-search(style='padding-right: 20px;')

    .resources-box
      each r in resources
        .resource-box
          a.profile-topbar(href=`/users/${r.author}`, style='height: 60px;')
            div
              img.profile-picture(src=`http://localhost:7700/api/users/${r.author}/avatar`, style='height: 60px; width: 60px;')
            .profile-name(style='font-size: 20px;')= r.author
          a.resource1(href=`/resources/${r.resource_id}`,style='font-size: 30px;')= r.title
    
    -var p = page-1
    -var n = p+2
    span
      if p < 1
        a.pagination(class="fa fa-chevron-left" style="margin-right: 20px")
      else 
        a.setinha(class="fa fa-chevron-left" style="margin-right: 20px" href='/resources?page_num='+p+'&type_id='+type_id+'&search_term='+search_term)
      if n > 20
        a.pagination(class = "fa fa-chevron-right" style="margin-left: 20px")
      else 
        a.setinha(class = "fa fa-chevron-right" style="margin-left: 20px" href='/resources?page_num='+n+'&type_id='+type_id+'&search_term='+search_term)